<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
<meta name="theme-color" content="#4285f4">
<link rel="shortcut icon" href="../../images/labellogo.jpg" type="image/x-icon">
<title>潮汐</title>

<link href="../../theme/css/base.min.css" rel="stylesheet">
<link href="../../theme/css/auth.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

</head>
<body class="page-brand">
<div class="authpage auth-reg">
<div class="container">
<section>
    <div class="auth-main auth-row">
<div class="auth-top auth-row">
<a class="boardtop-left" href="../home/html/home.html">
<div>首 页</div>
</a>
<div class="auth-logo">
<img src="../../images/authlogo.jpg">
</div>
<a href="login.html" class="boardtop-right">
<div>登 录</div>
</a>
</div>
<div class="rowtocol">
<div class="auth-row">
<div class="form-group-label auth-row">
<label class="floating-label" for="name">昵称</label>
<input class="form-control maxwidth-auth" id="name" name="name" type="text">
</div>
</div>
</div>
<div class="rowtocol">
<div class="auth-row">
<div class="form-group-label auth-row">
<label class="floating-label" for="email">邮箱(唯一凭证请认真对待)</label>
<input class="form-control maxwidth-auth" id="email" name="email" type="text" maxlength="32">
</div>
</div>
</div>
    <div class="rowtocol">
        <div class="auth-row">
        <div class="form-group-label auth-row">
        <label class="floating-label" for="passwd">密码</label>
        <input class="form-control maxwidth-auth" id="passwd" name="password" type="password">
        </div>
        </div>
    </div>
    <div class="rowtocol">
        <div class="auth-row">
        <div class="form-group form-group-label">
        <label class="floating-label" for="repasswd">重复密码</label>
        <input class="form-control maxwidth-auth" id="repasswd" name="repassword" type="password">
        </div>
        </div>
    </div>
        <div class="rowtocol">
            <div class="auth-row">
                <div class="form-group form-group-label">
                    <select class="form-control maxwidth-auth" id="type">
                        <option value ="volvo">零售商</option>
                        <option value ="saab">批发商</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="rowtocol">
            <div class="auth-row">
                <div class="form-group form-group-label">
                    <label class="floating-label" for="address">地址</label>
                    <input class="form-control maxwidth-auth" id="address" name="address" type="text">
                </div>
            </div>
        </div>
<div class="rowtocol">
<div class="rowtocol">
<div class="form-group form-group-label">
<label class="floating-label" for="email_code">邮箱验证码</label>
<input class="form-control maxwidth-auth" id="email_code" name="email_code" type="text">
</div>
</div>
<div class="rowtocol">
<div class="form-group form-group-label">
<button id="email_verify" class="btn-reg btn btn-block btn-brand-accent waves-attach waves-light">
获取验证码
</button>
</div>
</div>
</div>
<div class="rowtocol">
<div class="btn-auth auth-row">
<button id="tos" type="submit" class="btn-reg btn btn-block btn-brand waves-attach waves-light">确认注册
</button>
</div>
</div>
<div class="auth-bottom auth-row auth-reg">
<div class="tgauth">
<p>注册即代表同意<a href="tos.html">服务条款</a>，以及保证所录入信息的真实性，如有不实信息会导致账号被删除。</p>

</div>
</div>
</div>
</section>
<div class="card auth-tg">
<div class="card-main">
</div>
</div>
</div>
</div>
<div aria-hidden="true" class="modal modal-va-middle fade" id="tos_modal" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-heading">
<h2 class="modal-title">注册</h2>
</div>
<div class="modal-inner">
<ul>
<li>请提供真实邮箱，并自行保管。邮箱为用户的唯一凭证。</li>
<li>本站会加密存储用户密码，尽量保证数据安全，但并不保证这些信息的绝对安全。</li>
<li>禁止使用本站服务进行任何违法恶意活动。</li>
<li>使用任何节点，需遵循节点所属国家的相关法律以及中国法律。</li>
<li>禁止滥用本站提供的服务。</li>
<li>对于免费用户，我们有权在不通知的情况下删除账户。</li>
<li>任何违反使用条款的用户，我们将会删除违规账户并收回使用本站服务的权利。</li>
</ul> </div>
<div class="modal-footer">
<p class="text-right">
<button class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal" type="button" id="cancel">我不同意
</button>
<button class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal" id="reg" type="button">我同意
</button>
</p>
</div>
</div>
</div>
</div>

<div aria-hidden="true" class="modal modal-va-middle fade" id="result" role="dialog" tabindex="-1">
<div class="modal-dialog modal-xs">
<div class="modal-content">
<div class="modal-inner">
<p class="h5 margin-top-sm text-black-hint" id="msg">邮箱无效</p>
</div>
<div class="modal-footer">
<p class="text-right">
<button class="btn btn-flat btn-brand-accent waves-attach" data-dismiss="modal" type="button" id="result_ok">知道了
</button>
</p>
</div>
</div>
</div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.1" type="text/javascript"></script> -->

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

<!--让汉字跳起来-->
<script src="../../theme/js/base.min.js" type="text/javascript"></script>
</body>
</html>
<!-- 注册方法 -->
<script type="text/javascript">
	//$( document ).ready()只有在页面文档对象模型（DOM）准备好执行JavaScript代码后才会运行，这里没有执行
	$(document).ready(function () {
		function register() 
		{
			code = 0;
			//code是什么??????????????????????????????????????
            if ((getCookie('code')) != '') {
                code = getCookie('code');
            }
            //注册键可用
            document.getElementById("tos").disabled = true;
            $.ajax({
                type: "POST",
                //请求路径：http://localhost:8090/MyWeb/RegisterServlet;
                url: "/MyWeb/RegisterServlet",
                dataType: "json",
                /*
                    data
                                    类型：String
                                    发送到服务器的数据。将自动转换为请求字符串格式。
                    GET 请求中将附加在 URL 后。查看 processData 选项说明以禁止此自动转换。必须为 Key/Value 格式。
                   	 如果为数组，jQuery 将自动为不同值对应同一个名称。如 {foo:["bar1", "bar2"]} 转换为 '&foo=bar1&foo=bar2'。
                */
                data: {
                        email: $("input[name='email' ] ").val(),
                        name: $("input[name='name' ] ").val(),
                        passwd: $("input[name='password' ] ").val(),
                        repasswd: $("input[name='repassword' ] ").val(),
                        emailcode: $("input[name='email_code' ] ").val(),
                    },
                    /*
                        success
                        	类型：Function
                        	请求成功后的回调函数。
                        	参数：由服务器返回，并根据 dataType 参数进行处理后的数据；描述状态的字符串。
                        	这是一个 Ajax 事件。
                    */
                    success: function(data) {
                        alert(data.ret);
                        if (data.ret === "1") {
                            $("#result").modal();
                            //innerHTML 属性设置或返回表格行的开始和结束标签之间的 HTML。
                            document.getElementById("msg").innerHTML = data.msg;
                            //1秒后转到location.href
                            window.setTimeout("location.href='login.html'", 1000);
                        }
                        else //返回了信息，但是有问题
                        {
                            $("#result").modal();
                            //$("#msg").innerHTML = data.msg;//这样有问题，不懂
                            document.getElementById("msg").innerHTML = data.msg;
                            setCookie('code', '', 0);
                            $("#code").val(getCookie('code'));
                            document.getElementById("tos").disabled = false;
                        }
                    },
                    /*
                        error
			                        类型：Function
			                        默认值: 自动判断 (xml 或 html)。请求失败时调用此函数。
			                        有以下三个参数：XMLHttpRequest 对象、错误信息、（可选）捕获的异常对象。
			                        如果发生了错误，错误信息（第二个参数）除了得到 null 之外，还可能是 "timeout", "error", "notmodified" 和 "parsererror"。
			                        这是一个 Ajax 事件。
                    */
                    error: function(jqXHR) {
                    	alert("异常");
                        $("#msg-error").hide(10);
                        $("#msg-error").show(100);
                        //下面出了点问题
                        $("#msg-error-p").innerHTML = `发生错误：${
                                jqXHR.status
                        }`;
                        document.getElementById("tos").disabled = false;
                    }
            });

        }

            $("html").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#tos_modal").modal();
                }
            });
            //点击服务条款：我同意
            $("#reg").click(function () {
                register();
            });
            //点击确认注册
            $("#tos").click(function () {
				$("#tos_modal").modal();
            });
        })

</script>
<!--发送验证码-->
<script type="text/javascript">
        var wait = 60;

        function time(o) {
            if (wait == 0) {
                o.removeAttr("disabled");
                o.text("获取验证码");
                wait = 60;
            } else {
                o.attr("disabled", "disabled");
                o.text("重新发送(" + wait + ")");
                wait--;
                setTimeout(function () {
                            time(o)
                        },
                        1000)
            }
        }


        $(document).ready(function () {
            $("#email_verify").click(function () {
                time($("#email_verify"));

                $.ajax({
                    type: "POST",
                    url: "send",
                    dataType: "json",
                    data: {
                        email: $("input[name='email' ] ").val(),
                    },
                    success: (data) => {
                        if (data.ret) {
                            $("#result").modal();
                            $$.getElementById('msg').innerHTML = data.msg;

                        } else {
                            $("#result").modal();
                            $$.getElementById('msg').innerHTML = data.msg;
                        }
                    },
                    error: (jqXHR) => {
                        $("#result").modal();
                        $$.getElementById('msg').innerHTML = `${
                                data.msg
                                } 出现了一些错误`;
                    }
                })
            })
        })
</script>

<script type="text/javascript">
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    if (getQueryVariable('code') != '') {
        setCookie('code', getQueryVariable('code'), 30);
        $("#code").val(getCookie('code'));
        window.location.href = '/auth/register';
    }

    if ((getCookie('code')) != '') {
        $("#code").val(getCookie('code'));
    }
</script>
