<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
<meta name="theme-color" content="#4285f4">
<link rel="shortcut icon" href="../../images/labellogo.jpg" type="image/x-icon">
<title>潮汐</title>

<link href="../../theme/css/base.min.css" rel="stylesheet">
<link href="../../theme/css/project.min.css" rel="stylesheet">
<link href="../../theme/css/auth.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

</head>
<body class="page-brand">

<div class="authpage">
<div class="container">
<div class="auth-main auth-row auth-col-one">
<div class="auth-top auth-row">
<a class="boardtop-left" href="/MyWeb/home/html/home.html">
<div>首 页</div>
</a>
<div class="auth-logo">
<img src="../../images/authlogo.jpg">
</div>
<a href="login.html" class="boardtop-right">
<div>登 录</div>
</a>
</div>
<div class="auth-row">
<div class="form-group-label auth-row row-login">
<label class="floating-label" for="email">邮箱</label>
<input class="form-control maxwidth-auth" id="email" type="text">
</div>
</div>
<div class="btn-auth auth-row">
<button id="reset" type="submit" class="btn btn-block btn-brand waves-attach waves-light">重置密码</button>
</div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.1" type="d2e606e8e401e7fd011228ee-text/javascript"></script>
<script src="../../theme/js/base.min.js" type="d2e606e8e401e7fd011228ee-text/javascript"></script>
<script src="../../theme/js/project.min.js" type="d2e606e8e401e7fd011228ee-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="d2e606e8e401e7fd011228ee-|49" defer=""></script></body>
</html>
<script type="d2e606e8e401e7fd011228ee-text/javascript">
    $(document).ready(function () {
        function reset() {
            $("#result").modal();
            $$.getElementById('msg').innerHTML = '发送中，请等待'
            $.ajax({
                type: "POST",
                url: "/password/reset",
                dataType: "json",
                data: {
                    email: $$getValue('email'),
                },
                success: (data) => {
                    if (data.ret == 1) {
                        $("#result").modal();
                        $$.getElementById('msg').innerHTML = data.msg;
                        window.setTimeout("location.href='/auth/login'", 2000);
                    } else {
                        $("#result").modal();
                        $$.getElementById('msg').innerHTML = data.msg;
                    }
                },
                error: (jqXHR) => {
                    $("#result").modal();
                    $$.getElementById('msg').innerHTML = data.msg;
                }
            });
        }

        $("html").keydown(function (event) {
            if (event.keyCode === 13) {
                reset();
            }
        });
        $("#reset").click(function () {
            reset();
        });
    })
</script>